#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.api-card {
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  border-radius: 7px;
  flex-direction: column;
  padding: 5%;
  margin: 10px auto;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px black;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2); 
  overflow-y: auto; 
  overflow-x: hidden; 
  max-height: 90vh; 
}

.spell-grid {
  display: grid;
  grid-template-columns: 1.5fr 2fr 1fr 2fr 1fr 2fr 1fr;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
}

.spell-grid.header {
  font-weight: bold;
  border-bottom: 2px solid white;
  padding-bottom: 8px;
}
